<% provide(:title, "Availability") %>

<h5 class="text-center mt-2 text-light">
  Schedule for the Week of November 24<sup>th</sup>
</h5>

<div class="row">
  <div class="col-8 offset-2 col-md-6 offset-md-3">
    <ul class="list-group">
      <li class="list-group-item flex column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Sunday</h6>
          <small class="text-muted">11/24</small>
        </div>
        <p class="mb-1">Not available</p>
      </li>
      <li class="list-group-item flex column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Monday</h6>
          <small class="text-muted">11/25</small>
        </div>
        <p class="mb-1">Not available</p>
      </li>
      <li class="list-group-item flex column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Tuesday</h6>
          <small class="text-muted">11/26</small>
        </div>
        <p class="mb-1">Not available</p>
      </li>
      <li class="list-group-item flex column align-items-start list-group-item-info">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Wednesday</h6>
          <small class="text-muted">11/27</small>
        </div>
        <p class="mb-1">4 p.m.</p>
      </li>
      <li class="list-group-item flex column align-items-start list-group-item-info">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Thursday</h6>
          <small class="text-muted">11/28</small>
        </div>
        <p class="mb-1">5 p.m.</p>
      </li>
      <li class="list-group-item flex column align-items-start list-group-item-info">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Friday</h6>
          <small class="text-muted">11/29</small>
        </div>
        <p class="mb-1">5 p.m.</p>
      </li>
      <li class="list-group-item flex column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Saturday</h6>
          <small class="text-muted">11/30</small>
        </div>
        <p class="mb-1">Not available</p>
      </li>
    </ul>
  </div>
</div>