<% provide(:title, "Availability") %>

<h5 class="text-center mt-2 text-light">
  Schedule for the Week of December 8<sup>th</sup>
</h5>

<div class="row">
  <div class="col-8 offset-2 col-md-6 offset-md-3">
    <ul class="list-group">
      <li class="list-group-item flex column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Sunday</h6>
          <small class="text-muted">12/08</small>
        </div>
        <p class="mb-1">Not available</p>
      </li>
      <li class="list-group-item flex column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Monday</h6>
          <small class="text-muted">12/09</small>
        </div>
        <p class="mb-1">Not available</p>
      </li>
      <li class="list-group-item flex column align-items-start list-group-item-info">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Tuesday</h6>
          <small class="text-muted">12/10</small>
        </div>
        <p class="mb-1">4 p.m.</p>
      </li>
      <li class="list-group-item flex column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Wednesday</h6>
          <small class="text-muted">12/11</small>
        </div>
        <p class="mb-1">Not available</p>
      </li>
      <li class="list-group-item flex column align-items-start list-group-item-info">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Thursday</h6>
          <small class="text-muted">12/12</small>
        </div>
        <p class="mb-1">4 p.m.</p>
      </li>
      <li class="list-group-item flex column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Friday</h6>
          <small class="text-muted">12/13</small>
        </div>
        <p class="mb-1">Not available</p>
      </li>
      <li class="list-group-item flex column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h6 class="mb-1">Saturday</h6>
          <small class="text-muted">12/14</small>
        </div>
        <p class="mb-1">Not available</p>
      </li>
    </ul>
  </div>
</div>