<% provide(:title, "Julie Marroquin") %>
<div class="d-flex justify-content-center">
  <div class="card mt-2 bg-dark border-white">
    <%= image_tag "julieplaceholder.png", class: "card-img-top", 
                                            alt: "Julie M. Marroquin" %>
    <div class="card-body text-center text-light">
      <h5 class="card-title">Julie M. Marroquin</h5>
      <p class="card-text">Distinguished cocktails for distinguished individuals</p>
    </div>
  </div>
</div>