<h1>Julie,</h1>

<p><strong>juliethebartender.herokuapp.com</strong> gathered the following 
  contact information -
</p> 

<p><em><%= @message.name %></em> can be reached via email at 
  <em><%= @message.email %></em> or via cell phone:
    <% if @message.phone.blank? %>
      <i>intentionally left blank.</i>
    <% else %>
      <em><%= @message.phone %>.</em>
    <% end %>
  Below is their message:
</p>

<blockquote><%= @message.body %></blockquote>
